<div style="height: 1000px; background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);" class="bg-dark" >
    <div class="login-box bg-dark" >
        <h2>Add New Product</h2>
        <form  [formGroup]="ourValidation"  (ngSubmit)="submitForm()">
            <div class="user-box">
                <input type="text" [ngClass]="NameValid?'yes':'No'" formControlName="Name" name="Name" required="">
                <div class="alert" style=" display: inline-block; color: white; font-size: small; font-size: 15px; font-family: Tahoma;" *ngIf="!NameValid"> 
                    <span class="text-danger">**</span>Invalid Name<span class="text-danger">**</span></div>
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="text" [ngClass]="CategoryValid?'yes':'No'" formControlName="Category" name="Category" required="">
                <div class="alert" style=" display: inline-block; color: white; font-size: small; font-size: 15px; font-family: Tahoma;" *ngIf="!CategoryValid"> 
                    <span class="text-danger">**</span>Invalid Category<span class="text-danger">**</span></div>
                <label>Category</label>
            </div>
            <div class="user-box">
                <input type="number" [ngClass]="PriceValid?'yes':'No'" formControlName="Price" name="Price" required="">
                <div class="alert" style=" display: inline-block; color: white; font-size: small; font-size: 15px; font-family: Tahoma;" *ngIf="!PriceValid"> 
                    <span class="text-danger">**</span>Invalid Price<span class="text-danger">**</span></div>
                <label>Price</label>
            </div>
            <div class="user-box">
                <input type="file"  formControlName="Image" name="Image" required="">
                <div class="alert" style=" display: inline-block; color: white; font-size: small; font-size: 15px; font-family: Tahoma;" *ngIf="!ImageValid"> 
                    <span class="text-danger">**</span>No Image Yet!<span class="text-danger">**</span></div>
               
            </div>

            
            
            <a *ngIf="NameValid && PriceValid && CategoryValid ">
            <input type="submit" style="background-color:transparent; border:none;" class="text-light">
            <span></span>
            <span></span>
            <span></span>
            <span style="width:30px"></span>
            </a>
            
            <a>
                <input type="button" value="Cancel" (click)="cancel()" style="background-color:transparent; border:none; margin-left: 30px;" class="text-light">
                <span></span>
                <span></span>
                <span></span>
                <span style="width:30px"></span>
            </a>

            

        </form>
    </div>
